In [1]:
import pandas as pd

### Adjust for corporate actions for a single stock

In [24]:
# Create example dataframe of raw prices + corporate actions, where the price moves strictly due to corporate actions and actually has zero returns every day for an investor of the stock
df = pd.DataFrame({
    "business_date": pd.to_datetime([
        "2025-06-01", "2025-06-02", "2025-06-03", "2025-06-04", "2025-06-05", "2025-06-06", "2025-06-07", "2025-06-08"
    ]),
    "raw_price": [306, 306, 300, 100, 100, 98, 49, 49],
    "div_cash": [0, 0, 6, 0, 0, 2, 0, 0],
    "split_factor": [1, 1, 1, 3, 1, 1, 2, 1]
})

In [25]:
df["adj_price"] = df["raw_price"].copy()

In [26]:
# Test works: we prove that the adjusted price for this stock is $49 the whole way through
for i in range(len(df)):
    dividend = df.iloc[i]["div_cash"]
    split_ratio = df.iloc[i]["split_factor"]
    
    if dividend > 0:
        df.loc[:i-1, "adj_price"] = df.loc[:i-1, "adj_price"] - dividend
    
    if split_ratio != 1:
        df.loc[:i-1, "adj_price"] = df.loc[:i-1, "adj_price"] / split_ratio
    
    print("i:",i)
    print("dividend:",dividend)
    print("split_ratio:",split_ratio)
    print(df)
    print()

i: 0
dividend: 0
split_ratio: 1
  business_date  raw_price  div_cash  split_factor  adj_price
0    2025-06-01        306         0             1        306
1    2025-06-02        306         0             1        306
2    2025-06-03        300         6             1        300
3    2025-06-04        100         0             3        100
4    2025-06-05        100         0             1        100
5    2025-06-06         98         2             1         98
6    2025-06-07         49         0             2         49
7    2025-06-08         49         0             1         49

i: 1
dividend: 0
split_ratio: 1
  business_date  raw_price  div_cash  split_factor  adj_price
0    2025-06-01        306         0             1        306
1    2025-06-02        306         0             1        306
2    2025-06-03        300         6             1        300
3    2025-06-04        100         0             3        100
4    2025-06-05        100         0             1        100
5    2025-06-06         98         2             1         98
6    2025-06-07         49         0             2         49
7    2025-06-08         49         0             1         49

i: 2
dividend: 6
split_ratio: 1
  business_date  raw_price  div_cash  split_factor  adj_price
0    2025-06-01        306         0             1        300
1    2025-06-02        306         0             1        300
2    2025-06-03        300         6             1        300
3    2025-06-04        100         0             3        100
4    2025-06-05        100         0             1        100
5    2025-06-06         98         2             1         98
6    2025-06-07         49         0             2         49
7    2025-06-08         49         0             1         49

i: 3
dividend: 0
split_ratio: 3
  business_date  raw_price  div_cash  split_factor  adj_price
0    2025-06-01        306         0             1        100
1    2025-06-02        306         0             1        100
2    2025-06-03        300         6             1        100
3    2025-06-04        100         0             3        100
4    2025-06-05        100         0             1        100
5    2025-06-06         98         2             1         98
6    2025-06-07         49         0             2         49
7    2025-06-08         49         0             1         49

i: 4
dividend: 0
split_ratio: 1
  business_date  raw_price  div_cash  split_factor  adj_price
0    2025-06-01        306         0             1        100
1    2025-06-02        306         0             1        100
2    2025-06-03        300         6             1        100
3    2025-06-04        100         0             3        100
4    2025-06-05        100         0             1        100
5    2025-06-06         98         2             1         98
6    2025-06-07         49         0             2         49
7    2025-06-08         49         0             1         49

i: 5
dividend: 2
split_ratio: 1
  business_date  raw_price  div_cash  split_factor  adj_price
0    2025-06-01        306         0             1         98
1    2025-06-02        306         0             1         98
2    2025-06-03        300         6             1         98
3    2025-06-04        100         0             3         98
4    2025-06-05        100         0             1         98
5    2025-06-06         98         2             1         98
6    2025-06-07         49         0             2         49
7    2025-06-08         49         0             1         49

i: 6
dividend: 0
split_ratio: 2
  business_date  raw_price  div_cash  split_factor  adj_price
0    2025-06-01        306         0             1         49
1    2025-06-02        306         0             1         49
2    2025-06-03        300         6             1         49
3    2025-06-04        100         0             3         49
4    2025-06-05        100         0             1         49
5    2025-06-06         98         2             1         49
6    2025-06-07         49         0             2         49
7    2025-06-08         49         0             1         49

i: 7
dividend: 0
split_ratio: 1
  business_date  raw_price  div_cash  split_factor  adj_price
0    2025-06-01        306         0             1         49
1    2025-06-02        306         0             1         49
2    2025-06-03        300         6             1         49
3    2025-06-04        100         0             3         49
4    2025-06-05        100         0             1         49
5    2025-06-06         98         2             1         49
6    2025-06-07         49         0             2         49
7    2025-06-08         49         0             1         49

In [ ]:
# Show final result
df

  business_date  raw_price  div_cash  split_factor  adj_price
0    2025-06-01        306         0             1         49
1    2025-06-02        306         0             1         49
2    2025-06-03        300         6             1         49
3    2025-06-04        100         0             3         49
4    2025-06-05        100         0             1         49
5    2025-06-06         98         2             1         49
6    2025-06-07         49         0             2         49
7    2025-06-08         49         0             1         49

### Try another example

In [43]:
# Create example dataframe of raw prices + corporate actions, where the price moves strictly due to corporate actions and actually has zero returns every day for an investor of the stock
df = pd.DataFrame({
    "business_date": pd.to_datetime([
        "2025-06-01", "2025-06-02", "2025-06-03", "2025-06-04", "2025-06-05", "2025-06-06", "2025-06-07", "2025-06-08"
    ]),
    "raw_price": [100, 99, 101, 50, 49, 50, 51, 25],
    "div_cash": [0, 1, 0, 0, 1, 0, 0, 0],
    "split_factor": [1, 1, 1, 2, 1, 1, 1, 2]
})

In [44]:
df["adj_price"] = df["raw_price"].copy()

In [45]:
# Test works: we prove that the adjusted price for this stock is $49 the whole way through
for i in range(len(df)):
    dividend = df.iloc[i]["div_cash"]
    split_ratio = df.iloc[i]["split_factor"]
    
    if dividend > 0:
        df.loc[:i-1, "adj_price"] = df.loc[:i-1, "adj_price"] - dividend
    
    if split_ratio != 1:
        df.loc[:i-1, "adj_price"] = df.loc[:i-1, "adj_price"] / split_ratio
    
    print("i:",i)
    print("dividend:",dividend)
    print("split_ratio:",split_ratio)
    print(df)
    print()

i: 0
dividend: 0
split_ratio: 1
  business_date  raw_price  div_cash  split_factor  adj_price
0    2025-06-01        100         0             1        100
1    2025-06-02         99         1             1         99
2    2025-06-03        101         0             1        101
3    2025-06-04         50         0             2         50
4    2025-06-05         49         1             1         49
5    2025-06-06         50         0             1         50
6    2025-06-07         51         0             1         51
7    2025-06-08         25         0             2         25

i: 1
dividend: 1
split_ratio: 1
  business_date  raw_price  div_cash  split_factor  adj_price
0    2025-06-01        100         0             1         99
1    2025-06-02         99         1             1         99
2    2025-06-03        101         0             1        101
3    2025-06-04         50         0             2         50
4    2025-06-05         49         1             1         49
5    2025-06-06         50         0             1         50
6    2025-06-07         51         0             1         51
7    2025-06-08         25         0             2         25

i: 2
dividend: 0
split_ratio: 1
  business_date  raw_price  div_cash  split_factor  adj_price
0    2025-06-01        100         0             1         99
1    2025-06-02         99         1             1         99
2    2025-06-03        101         0             1        101
3    2025-06-04         50         0             2         50
4    2025-06-05         49         1             1         49
5    2025-06-06         50         0             1         50
6    2025-06-07         51         0             1         51
7    2025-06-08         25         0             2         25

i: 3
dividend: 0
split_ratio: 2
  business_date  raw_price  div_cash  split_factor  adj_price
0    2025-06-01        100         0             1       49.5
1    2025-06-02         99         1             1       49.5
2    2025-06-03        101         0             1       50.5
3    2025-06-04         50         0             2       50.0
4    2025-06-05         49         1             1       49.0
5    2025-06-06         50         0             1       50.0
6    2025-06-07         51         0             1       51.0
7    2025-06-08         25         0             2       25.0

i: 4
dividend: 1
split_ratio: 1
  business_date  raw_price  div_cash  split_factor  adj_price
0    2025-06-01        100         0             1       48.5
1    2025-06-02         99         1             1       48.5
2    2025-06-03        101         0             1       49.5
3    2025-06-04         50         0             2       49.0
4    2025-06-05         49         1             1       49.0
5    2025-06-06         50         0             1       50.0
6    2025-06-07         51         0             1       51.0
7    2025-06-08         25         0             2       25.0

i: 5
dividend: 0
split_ratio: 1
  business_date  raw_price  div_cash  split_factor  adj_price
0    2025-06-01        100         0             1       48.5
1    2025-06-02         99         1             1       48.5
2    2025-06-03        101         0             1       49.5
3    2025-06-04         50         0             2       49.0
4    2025-06-05         49         1             1       49.0
5    2025-06-06         50         0             1       50.0
6    2025-06-07         51         0             1       51.0
7    2025-06-08         25         0             2       25.0

i: 6
dividend: 0
split_ratio: 1
  business_date  raw_price  div_cash  split_factor  adj_price
0    2025-06-01        100         0             1       48.5
1    2025-06-02         99         1             1       48.5
2    2025-06-03        101         0             1       49.5
3    2025-06-04         50         0             2       49.0
4    2025-06-05         49         1             1       49.0
5    2025-06-06         50         0             1       50.0
6    2025-06-07         51         0             1       51.0
7    2025-06-08         25         0             2       25.0

i: 7
dividend: 0
split_ratio: 2
  business_date  raw_price  div_cash  split_factor  adj_price
0    2025-06-01        100         0             1      24.25
1    2025-06-02         99         1             1      24.25
2    2025-06-03        101         0             1      24.75
3    2025-06-04         50         0             2      24.50
4    2025-06-05         49         1             1      24.50
5    2025-06-06         50         0             1      25.00
6    2025-06-07         51         0             1      25.50
7    2025-06-08         25         0             2      25.00

/tmp/ipykernel_1387/1723801590.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[49.5 49.5 50.5]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[:i-1, "adj_price"] = df.loc[:i-1, "adj_price"] / split_ratio

### Adjust for corporate actions for multiple stocks

In [74]:
df = pd.DataFrame({
    "ticker":["ABC", "ABC", "ABC", "ABC", "ABC", "ABC", "ABC", "ABC",
              "XYZ", "XYZ", "XYZ", "XYZ", "XYZ", "XYZ", "XYZ", "XYZ"],
    "business_date": pd.to_datetime([
        "2025-06-01", "2025-06-02", "2025-06-03", "2025-06-04", "2025-06-05", "2025-06-06", "2025-06-07", "2025-06-08",
        "2025-06-01", "2025-06-02", "2025-06-03", "2025-06-04", "2025-06-05", "2025-06-06", "2025-06-07", "2025-06-08"]),
    "raw_price": [306, 306, 300, 100, 100, 98, 49, 49,
                  100, 99, 101, 50, 49, 50, 51, 25],
    "div_cash": [0, 0, 6, 0, 0, 2, 0, 0,
                 0, 1, 0, 0, 1, 0, 0, 0],
    "split_factor": [1, 1, 1, 3, 1, 1, 2, 1,
                     1, 1, 1, 2, 1, 1, 1, 2]
})

df["adj_price"] = df["raw_price"].copy()

In [75]:
df

   ticker business_date  raw_price  div_cash  split_factor  adj_price
0     ABC    2025-06-01        306         0             1        306
1     ABC    2025-06-02        306         0             1        306
2     ABC    2025-06-03        300         6             1        300
3     ABC    2025-06-04        100         0             3        100
4     ABC    2025-06-05        100         0             1        100
5     ABC    2025-06-06         98         2             1         98
6     ABC    2025-06-07         49         0             2         49
7     ABC    2025-06-08         49         0             1         49
8     XYZ    2025-06-01        100         0             1        100
9     XYZ    2025-06-02         99         1             1         99
10    XYZ    2025-06-03        101         0             1        101
11    XYZ    2025-06-04         50         0             2         50
12    XYZ    2025-06-05         49         1             1         49
13    XYZ    2025-06-06         50         0             1         50
14    XYZ    2025-06-07         51         0             1         51
15    XYZ    2025-06-08         25         0             2         25

In [76]:
def adj_corp_actions(df_ticker_group: pd.DataFrame) -> pd.DataFrame:

    df_ticker_group = df_ticker_group.copy()
    
    for i in range(len(df_ticker_group)):
        dividend = df_ticker_group.iloc[i]["div_cash"]
        split_ratio = df_ticker_group.iloc[i]["split_factor"]
        
        if dividend > 0:
            df_ticker_group.loc[:i-1, "adj_price"] = df_ticker_group.loc[:i-1, "adj_price"] - dividend
        
        if split_ratio != 1:
            df_ticker_group.loc[:i-1, "adj_price"] = df_ticker_group.loc[:i-1, "adj_price"] / split_ratio
    
        print("i:",i)
        print("dividend:",dividend)
        print("split_ratio:",split_ratio)
        print(df)
        print()

    return df_ticker_group

In [77]:
df = df.groupby("ticker", group_keys = False).apply(adj_corp_actions)

i: 0
dividend: 0
split_ratio: 1
   ticker business_date  raw_price  div_cash  split_factor  adj_price
0     ABC    2025-06-01        306         0             1        306
1     ABC    2025-06-02        306         0             1        306
2     ABC    2025-06-03        300         6             1        300
3     ABC    2025-06-04        100         0             3        100
4     ABC    2025-06-05        100         0             1        100
5     ABC    2025-06-06         98         2             1         98
6     ABC    2025-06-07         49         0             2         49
7     ABC    2025-06-08         49         0             1         49
8     XYZ    2025-06-01        100         0             1        100
9     XYZ    2025-06-02         99         1             1         99
10    XYZ    2025-06-03        101         0             1        101
11    XYZ    2025-06-04         50         0             2         50
12    XYZ    2025-06-05         49         1             1         49
13    XYZ    2025-06-06         50         0             1         50
14    XYZ    2025-06-07         51         0             1         51
15    XYZ    2025-06-08         25         0             2         25

i: 1
dividend: 0
split_ratio: 1
   ticker business_date  raw_price  div_cash  split_factor  adj_price
0     ABC    2025-06-01        306         0             1        306
1     ABC    2025-06-02        306         0             1        306
2     ABC    2025-06-03        300         6             1        300
3     ABC    2025-06-04        100         0             3        100
4     ABC    2025-06-05        100         0             1        100
5     ABC    2025-06-06         98         2             1         98
6     ABC    2025-06-07         49         0             2         49
7     ABC    2025-06-08         49         0             1         49
8     XYZ    2025-06-01        100         0             1        100
9     XYZ    2025-06-02         99         1             1         99
10    XYZ    2025-06-03        101         0             1        101
11    XYZ    2025-06-04         50         0             2         50
12    XYZ    2025-06-05         49         1             1         49
13    XYZ    2025-06-06         50         0             1         50
14    XYZ    2025-06-07         51         0             1         51
15    XYZ    2025-06-08         25         0             2         25

i: 2
dividend: 6
split_ratio: 1
   ticker business_date  raw_price  div_cash  split_factor  adj_price
0     ABC    2025-06-01        306         0             1        306
1     ABC    2025-06-02        306         0             1        306
2     ABC    2025-06-03        300         6             1        300
3     ABC    2025-06-04        100         0             3        100
4     ABC    2025-06-05        100         0             1        100
5     ABC    2025-06-06         98         2             1         98
6     ABC    2025-06-07         49         0             2         49
7     ABC    2025-06-08         49         0             1         49
8     XYZ    2025-06-01        100         0             1        100
9     XYZ    2025-06-02         99         1             1         99
10    XYZ    2025-06-03        101         0             1        101
11    XYZ    2025-06-04         50         0             2         50
12    XYZ    2025-06-05         49         1             1         49
13    XYZ    2025-06-06         50         0             1         50
14    XYZ    2025-06-07         51         0             1         51
15    XYZ    2025-06-08         25         0             2         25

i: 3
dividend: 0
split_ratio: 3
   ticker business_date  raw_price  div_cash  split_factor  adj_price
0     ABC    2025-06-01        306         0             1        306
1     ABC    2025-06-02        306         0             1        306
2     ABC    2025-06-03        300         6             1        300
3     ABC    2025-06-04        100         0             3        100
4     ABC    2025-06-05        100         0             1        100
5     ABC    2025-06-06         98         2             1         98
6     ABC    2025-06-07         49         0             2         49
7     ABC    2025-06-08         49         0             1         49
8     XYZ    2025-06-01        100         0             1        100
9     XYZ    2025-06-02         99         1             1         99
10    XYZ    2025-06-03        101         0             1        101
11    XYZ    2025-06-04         50         0             2         50
12    XYZ    2025-06-05         49         1             1         49
13    XYZ    2025-06-06         50         0             1         50
14    XYZ    2025-06-07         51         0             1         51
15    XYZ    2025-06-08         25         0             2         25

i: 4
dividend: 0
split_ratio: 1
   ticker business_date  raw_price  div_cash  split_factor  adj_price
0     ABC    2025-06-01        306         0             1        306
1     ABC    2025-06-02        306         0             1        306
2     ABC    2025-06-03        300         6             1        300
3     ABC    2025-06-04        100         0             3        100
4     ABC    2025-06-05        100         0             1        100
5     ABC    2025-06-06         98         2             1         98
6     ABC    2025-06-07         49         0             2         49
7     ABC    2025-06-08         49         0             1         49
8     XYZ    2025-06-01        100         0             1        100
9     XYZ    2025-06-02         99         1             1         99
10    XYZ    2025-06-03        101         0             1        101
11    XYZ    2025-06-04         50         0             2         50
12    XYZ    2025-06-05         49         1             1         49
13    XYZ    2025-06-06         50         0             1         50
14    XYZ    2025-06-07         51         0             1         51
15    XYZ    2025-06-08         25         0             2         25

i: 5
dividend: 2
split_ratio: 1
   ticker business_date  raw_price  div_cash  split_factor  adj_price
0     ABC    2025-06-01        306         0             1        306
1     ABC    2025-06-02        306         0             1        306
2     ABC    2025-06-03        300         6             1        300
3     ABC    2025-06-04        100         0             3        100
4     ABC    2025-06-05        100         0             1        100
5     ABC    2025-06-06         98         2             1         98
6     ABC    2025-06-07         49         0             2         49
7     ABC    2025-06-08         49         0             1         49
8     XYZ    2025-06-01        100         0             1        100
9     XYZ    2025-06-02         99         1             1         99
10    XYZ    2025-06-03        101         0             1        101
11    XYZ    2025-06-04         50         0             2         50
12    XYZ    2025-06-05         49         1             1         49
13    XYZ    2025-06-06         50         0             1         50
14    XYZ    2025-06-07         51         0             1         51
15    XYZ    2025-06-08         25         0             2         25

i: 6
dividend: 0
split_ratio: 2
   ticker business_date  raw_price  div_cash  split_factor  adj_price
0     ABC    2025-06-01        306         0             1        306
1     ABC    2025-06-02        306         0             1        306
2     ABC    2025-06-03        300         6             1        300
3     ABC    2025-06-04        100         0             3        100
4     ABC    2025-06-05        100         0             1        100
5     ABC    2025-06-06         98         2             1         98
6     ABC    2025-06-07         49         0             2         49
7     ABC    2025-06-08         49         0             1         49
8     XYZ    2025-06-01        100         0             1        100
9     XYZ    2025-06-02         99         1             1         99
10    XYZ    2025-06-03        101         0             1        101
11    XYZ    2025-06-04         50         0             2         50
12    XYZ    2025-06-05         49         1             1         49
13    XYZ    2025-06-06         50         0             1         50
14    XYZ    2025-06-07         51         0             1         51
15    XYZ    2025-06-08         25         0             2         25

i: 7
dividend: 0
split_ratio: 1
   ticker business_date  raw_price  div_cash  split_factor  adj_price
0     ABC    2025-06-01        306         0             1        306
1     ABC    2025-06-02        306         0             1        306
2     ABC    2025-06-03        300         6             1        300
3     ABC    2025-06-04        100         0             3        100
4     ABC    2025-06-05        100         0             1        100
5     ABC    2025-06-06         98         2             1         98
6     ABC    2025-06-07         49         0             2         49
7     ABC    2025-06-08         49         0             1         49
8     XYZ    2025-06-01        100         0             1        100
9     XYZ    2025-06-02         99         1             1         99
10    XYZ    2025-06-03        101         0             1        101
11    XYZ    2025-06-04         50         0             2         50
12    XYZ    2025-06-05         49         1             1         49
13    XYZ    2025-06-06         50         0             1         50
14    XYZ    2025-06-07         51         0             1         51
15    XYZ    2025-06-08         25         0             2         25

i: 0
dividend: 0
split_ratio: 1
   ticker business_date  raw_price  div_cash  split_factor  adj_price
0     ABC    2025-06-01        306         0             1        306
1     ABC    2025-06-02        306         0             1        306
2     ABC    2025-06-03        300         6             1        300
3     ABC    2025-06-04        100         0             3        100
4     ABC    2025-06-05        100         0             1        100
5     ABC    2025-06-06         98         2             1         98
6     ABC    2025-06-07         49         0             2         49
7     ABC    2025-06-08         49         0             1         49
8     XYZ    2025-06-01        100         0             1        100
9     XYZ    2025-06-02         99         1             1         99
10    XYZ    2025-06-03        101         0             1        101
11    XYZ    2025-06-04         50         0             2         50
12    XYZ    2025-06-05         49         1             1         49
13    XYZ    2025-06-06         50         0             1         50
14    XYZ    2025-06-07         51         0             1         51
15    XYZ    2025-06-08         25         0             2         25

i: 1
dividend: 1
split_ratio: 1
   ticker business_date  raw_price  div_cash  split_factor  adj_price
0     ABC    2025-06-01        306         0             1        306
1     ABC    2025-06-02        306         0             1        306
2     ABC    2025-06-03        300         6             1        300
3     ABC    2025-06-04        100         0             3        100
4     ABC    2025-06-05        100         0             1        100
5     ABC    2025-06-06         98         2             1         98
6     ABC    2025-06-07         49         0             2         49
7     ABC    2025-06-08         49         0             1         49
8     XYZ    2025-06-01        100         0             1        100
9     XYZ    2025-06-02         99         1             1         99
10    XYZ    2025-06-03        101         0             1        101
11    XYZ    2025-06-04         50         0             2         50
12    XYZ    2025-06-05         49         1             1         49
13    XYZ    2025-06-06         50         0             1         50
14    XYZ    2025-06-07         51         0             1         51
15    XYZ    2025-06-08         25         0             2         25

i: 2
dividend: 0
split_ratio: 1
   ticker business_date  raw_price  div_cash  split_factor  adj_price
0     ABC    2025-06-01        306         0             1        306
1     ABC    2025-06-02        306         0             1        306
2     ABC    2025-06-03        300         6             1        300
3     ABC    2025-06-04        100         0             3        100
4     ABC    2025-06-05        100         0             1        100
5     ABC    2025-06-06         98         2             1         98
6     ABC    2025-06-07         49         0             2         49
7     ABC    2025-06-08         49         0             1         49
8     XYZ    2025-06-01        100         0             1        100
9     XYZ    2025-06-02         99         1             1         99
10    XYZ    2025-06-03        101         0             1        101
11    XYZ    2025-06-04         50         0             2         50
12    XYZ    2025-06-05         49         1             1         49
13    XYZ    2025-06-06         50         0             1         50
14    XYZ    2025-06-07         51         0             1         51
15    XYZ    2025-06-08         25         0             2         25

i: 3
dividend: 0
split_ratio: 2
   ticker business_date  raw_price  div_cash  split_factor  adj_price
0     ABC    2025-06-01        306         0             1        306
1     ABC    2025-06-02        306         0             1        306
2     ABC    2025-06-03        300         6             1        300
3     ABC    2025-06-04        100         0             3        100
4     ABC    2025-06-05        100         0             1        100
5     ABC    2025-06-06         98         2             1         98
6     ABC    2025-06-07         49         0             2         49
7     ABC    2025-06-08         49         0             1         49
8     XYZ    2025-06-01        100         0             1        100
9     XYZ    2025-06-02         99         1             1         99
10    XYZ    2025-06-03        101         0             1        101
11    XYZ    2025-06-04         50         0             2         50
12    XYZ    2025-06-05         49         1             1         49
13    XYZ    2025-06-06         50         0             1         50
14    XYZ    2025-06-07         51         0             1         51
15    XYZ    2025-06-08         25         0             2         25

i: 4
dividend: 1
split_ratio: 1
   ticker business_date  raw_price  div_cash  split_factor  adj_price
0     ABC    2025-06-01        306         0             1        306
1     ABC    2025-06-02        306         0             1        306
2     ABC    2025-06-03        300         6             1        300
3     ABC    2025-06-04        100         0             3        100
4     ABC    2025-06-05        100         0             1        100
5     ABC    2025-06-06         98         2             1         98
6     ABC    2025-06-07         49         0             2         49
7     ABC    2025-06-08         49         0             1         49
8     XYZ    2025-06-01        100         0             1        100
9     XYZ    2025-06-02         99         1             1         99
10    XYZ    2025-06-03        101         0             1        101
11    XYZ    2025-06-04         50         0             2         50
12    XYZ    2025-06-05         49         1             1         49
13    XYZ    2025-06-06         50         0             1         50
14    XYZ    2025-06-07         51         0             1         51
15    XYZ    2025-06-08         25         0             2         25

i: 5
dividend: 0
split_ratio: 1
   ticker business_date  raw_price  div_cash  split_factor  adj_price
0     ABC    2025-06-01        306         0             1        306
1     ABC    2025-06-02        306         0             1        306
2     ABC    2025-06-03        300         6             1        300
3     ABC    2025-06-04        100         0             3        100
4     ABC    2025-06-05        100         0             1        100
5     ABC    2025-06-06         98         2             1         98
6     ABC    2025-06-07         49         0             2         49
7     ABC    2025-06-08         49         0             1         49
8     XYZ    2025-06-01        100         0             1        100
9     XYZ    2025-06-02         99         1             1         99
10    XYZ    2025-06-03        101         0             1        101
11    XYZ    2025-06-04         50         0             2         50
12    XYZ    2025-06-05         49         1             1         49
13    XYZ    2025-06-06         50         0             1         50
14    XYZ    2025-06-07         51         0             1         51
15    XYZ    2025-06-08         25         0             2         25

i: 6
dividend: 0
split_ratio: 1
   ticker business_date  raw_price  div_cash  split_factor  adj_price
0     ABC    2025-06-01        306         0             1        306
1     ABC    2025-06-02        306         0             1        306
2     ABC    2025-06-03        300         6             1        300
3     ABC    2025-06-04        100         0             3        100
4     ABC    2025-06-05        100         0             1        100
5     ABC    2025-06-06         98         2             1         98
6     ABC    2025-06-07         49         0             2         49
7     ABC    2025-06-08         49         0             1         49
8     XYZ    2025-06-01        100         0             1        100
9     XYZ    2025-06-02         99         1             1         99
10    XYZ    2025-06-03        101         0             1        101
11    XYZ    2025-06-04         50         0             2         50
12    XYZ    2025-06-05         49         1             1         49
13    XYZ    2025-06-06         50         0             1         50
14    XYZ    2025-06-07         51         0             1         51
15    XYZ    2025-06-08         25         0             2         25

i: 7
dividend: 0
split_ratio: 2
   ticker business_date  raw_price  div_cash  split_factor  adj_price
0     ABC    2025-06-01        306         0             1        306
1     ABC    2025-06-02        306         0             1        306
2     ABC    2025-06-03        300         6             1        300
3     ABC    2025-06-04        100         0             3        100
4     ABC    2025-06-05        100         0             1        100
5     ABC    2025-06-06         98         2             1         98
6     ABC    2025-06-07         49         0             2         49
7     ABC    2025-06-08         49         0             1         49
8     XYZ    2025-06-01        100         0             1        100
9     XYZ    2025-06-02         99         1             1         99
10    XYZ    2025-06-03        101         0             1        101
11    XYZ    2025-06-04         50         0             2         50
12    XYZ    2025-06-05         49         1             1         49
13    XYZ    2025-06-06         50         0             1         50
14    XYZ    2025-06-07         51         0             1         51
15    XYZ    2025-06-08         25         0             2         25

/tmp/ipykernel_1387/960190600.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df = df.groupby("ticker", group_keys = False).apply(adj_corp_actions)

In [78]:
df

   ticker business_date  raw_price  div_cash  split_factor  adj_price
0     ABC    2025-06-01        306         0             1         49
1     ABC    2025-06-02        306         0             1         49
2     ABC    2025-06-03        300         6             1         49
3     ABC    2025-06-04        100         0             3         49
4     ABC    2025-06-05        100         0             1         49
5     ABC    2025-06-06         98         2             1         49
6     ABC    2025-06-07         49         0             2         49
7     ABC    2025-06-08         49         0             1         49
8     XYZ    2025-06-01        100         0             1        100
9     XYZ    2025-06-02         99         1             1         99
10    XYZ    2025-06-03        101         0             1        101
11    XYZ    2025-06-04         50         0             2         50
12    XYZ    2025-06-05         49         1             1         49
13    XYZ    2025-06-06         50         0             1         50
14    XYZ    2025-06-07         51         0             1         51
15    XYZ    2025-06-08         25         0             2         25