In [1]:
# Essential libraries
import yfinance as yf

In [2]:
df = yf.download("SPY", period = "5d", interval = "1d")

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

In [3]:
df

Price            Close        High         Low        Open     Volume
Ticker             SPY         SPY         SPY         SPY        SPY
Date
2025-03-31  559.390015  560.710022  546.869995  549.830017   95328200
2025-04-01  560.969971  562.940002  553.679993  557.450012   54609600
2025-04-02  564.520020  567.419983  554.809998  555.049988   76014500
2025-04-03  536.700012  547.969971  536.700012  545.109985  125986000
2025-04-04  505.279999  525.869995  505.059998  523.669983  216189500